// components/header/header.module.sass

@import config.sass

$mobile-row-1: " . home . menu-btn . "
$mobile-row-2: " . responsive-menu responsive-menu responsive-menu . "

.about
	grid-area: about

.collapseCssTransition
	transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1)

.contact
	grid-area: contact

.events
	grid-area: events

.header
	background-color: #c59d6d
	box-shadow: 0px 3px 5px -3px #000000
	font-size: 2.0rem
	height: auto
	min-height: 50px
	z-index: 99
	.bigNav
		display: none
		grid-template-columns: 10px 150px auto auto auto auto auto 1fr
		grid-template-rows: 50px
		grid-template-areas: " . home events menus contact location about ."
		height: 100%
		place-items: center
		//position: fixed
		width: 100%
		@media only screen and (min-width: $breakpoint-2)
			display: grid
	.mobileNav
		display: grid
		grid-template-columns: 10px 150px 1fr 30px 20px
		grid-template-rows: 50px
		grid-template-areas: $mobile-row-1 $mobile-row-2
		height: 100%
		//position: fixed
		width: 100%
		place-items: center
		text-align: right
		@media only screen and (min-width: 768px)
			display: none
	a
		font-family: OldStandard, serif
		font-variant: small-caps
		font-weight: bold
		//padding: 10px
		color: $color
		text-decoration: none
		letter-spacing: .10em
		display: block
		padding: 0 10px 
		@media only screen and (min-width: 768px)
			display: initial
	a:hover 
		color: #1b5919

.home 
	grid-area: home
	//position: relative
	//top: 2px

.homeIcon 
	height: auto
	position: relative
	top: 4px
	width: 100%

.location 
	grid-area: location

.menuBtn
	grid-area: menu-btn
	//position: relative
	//top: 10px
	&:hover 
		cursor: pointer
	&:hover span 
		background: #1b5919
	div
		//position: absolute
		left: 100%
		top: 64%
		//padding-right: 8px
		margin-top: -0.5rem
		line-height: 1.2
		font-size: 18px
		//font-weight: 200
	span
		display: block
		width: 19px
		height: 4px
		margin: 4px 0
		background: $color
		border-radius: 25px

.menus 
	grid-area: menus

.responsiveMenu
	grid-area: responsive-menu
	justify-self: right
	//display: none

