// components/contact-form/contact-form.module.sass

@import config.sass

.button
	border: 2px solid $color-link
	border-radius: 10px
	font-size: 2rem
	margin-top: 2rem
	text-align: center
	&:hover
		opacity: 0.7
	@media only screen and (min-width: $breakpoint-1)
		width: 8rem

.container
	margin: auto
	max-width: 1000px
	width: 100%
	input, textarea
		display: block
	label, p
		font-size: 2rem
	p
		text-align: center
	textarea
		height: 300px
		width: 100%
	@media only screen and (min-width: $breakpoint-1)
		width: 80%
	@media only screen and (min-width: $breakpoint-2)
		width: 60%

.error
	color: $color

.field
	margin-top: 2rem

.sent
	color: $color-link
