// components/column/column.module.sass

@import config.sass

.column
	font-size: 2.0rem
	margin: auto
	width: 90%
	@media only screen and (min-width: $breakpoint-2)
		width: 70%
	@media only screen and (min-width: $breakpoint-3)
		width: 50%
