// components/accordionTab/accordionTab.module.sass

@import config.sass

.accordionLabel
	padding: 20px 0 20px 30px
	width: 100%
	display: block
	font-size: 2.0rem
	&:hover
		cursor: pointer
		color: #e69153
	&:before
		content: ""
		position: absolute
		height: 5px
		top: 27px
		left: 12px
		display: inline-block
		border-left: 5px solid $color
		border-top: 5px solid transparent
		border-bottom: 5px solid transparent

.accordionTab
	position: relative
	width: 100%
	&:last-child
		border-bottom: none
.child
	margin-left: 30px
	&:before
		left: 42px

.inputCheckbox 
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	padding: 0
	position: absolute
	width: 1px

input[type=checkbox]:checked ~ .accordionLabel:before
	transform: rotate(90deg)

.right 
	float: right
	font-weight: bold
	padding: 10px

