// components/event/event.module.sass

@import config.sass

.content
	font-size: 2rem
	margin: 8rem auto
	text-align: center
	width: 95%
	@media only screen and (min-width: $breakpoint-2)
		width: 70%
	@media only screen and (min-width: $breakpoint-3)
		width: 50%

.date
	font-size: 3rem
	text-align: center

.image
	margin: auto
	max-width: 800px
	width: 100%
	@media only screen and (min-width: $breakpoint-2)
		width: 80%
	@media only screen and (min-width: $breakpoint-3)
		width: 60%

.heading
	font-size: 4rem
	font-weight: bold
	text-align: center

