// components/event/event.modules.sass

@import config.sass

.details
	font-size: 2.2rem
	text-align: center
	width: $breakpoint-1
	@media only screen and (min-width: $breakpoint-2)
		text-align: left

.event
	align-items: center
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-around
	margin: 5rem auto
	max-width: 75rem
	img
		border-radius: 50%
		height: 15rem
		width: 15rem

.lightText
	display: block
	p
		margin: 2rem auto

.title
	display: block
	margin: 2rem auto
