// components/figure/figure.module.sass

.container
	figcaption
		color: black
		font-size: 1.5rem
		font-style: italic
		text-align: center
	img
		border: 2px solid black
		box-shadow: 2px 2px 7px 3px #a38d8d, -2px -2px 7px 3px #a38d8d
		margin: auto
	width: 100%
		
