// components/gallery/gallery.module.sass

@import config.sass

.gallery
	align-content: center
	display: flex
	flex-flow: row wrap
	img
		height: 100vw
		max-height: 800px
		max-width: 800px
		opacity: 0.9
		width: 100vw
		@media only screen and (min-width: $breakpoint-1)
			height: 50vw
			width: 50vw
		@media only screen and (min-width: $breakpoint-3)
			height: 25vw
			width: 25vw
	justify-content: center
	margin: 5rem auto
	max-width: 1200px
	min-width: 300px
	width: 100%
