// components/footer/footer.module.sass

@import config.sass

$grid-row-1: ". location . ."
$grid-row-2: ". location reserve ."
$grid-row-3: ". location connect ."
$grid-row-4: ". location phone ."
$grid-row-5: ". location . ."
$grid-row-6: "copyright copyright copyright copyright"

.connect 
	grid-area: connect

.copyright 
	display: none
	font-family: $font, sans-serif
	font-size: 2.0rem
	grid-area: copyright
	justify-self: start
	line-height: 5.0rem
	padding-left: 10px
	width: 100%

.icon 
	display: block
	margin: 2rem auto
	width: 25px
	-webkit-transform: rotate(0)
	&:hover
		fill-opacity: 0.7
	@media only screen and (min-width: $breakpoint-2)
		margin: 25px


.facebook 
	background: inherit
	fill: #3b5998

.twitter 
	background: inherit
	fill: #0084b4

.youtube 
	background: inherit
	fill: #c4302b

.footer
	color: #2e2e2e
	display: block
	font-family: $font, sans-serif
	font-size: 2.5rem
	letter-spacing: 0.5px
	margin-top: 100px
	text-align: center
	@media only screen and (min-width: $breakpoint-2)
		display: grid
		grid-template-columns: 25% 1fr 1fr 25%
		grid-template-rows: 100px [reserve-start] auto auto auto [phone-end] 100px
		grid-template-areas: $grid-row-1 $grid-row-2 $grid-row-3 $grid-row-4 $grid-row-5 $grid-row-6
		place-content: center
		place-items: center
	  
.location
	grid-area: location
	margin-bottom: 5rem

.hours 
	text-align: right
	font-size: 2.2rem
  
.otButton
	background-color: #DA3743
	color: white
	border: 0px solid transparent
	border-radius: 5px
	font-size: 1.6rem
	letter-spacing: 1.5px
	padding: 10px 30px
	&:hover
		cursor: pointer
		opacity: 0.7

.phone
	grid-area: phone
	margin: 5rem auto
  
.reserve 
	grid-area: reserve

.opentable 
	height: auto
	margin: 2rem auto
	width: 100px
	display: block
	-webkit-transform: rotate(0)
	&:hover
		fill-opacity: 0.7
	@media only screen and (min-width: $breakpoint-2)
		margin: 25px

.rowGap 
	height: 200px
	grid-area: row-gap

