// components/accordion/accordion.module.sass

@import config.sass

.accordion
	color: $color
	margin: auto
	max-width: 1000px
	width: 100%

.accordionChild
	height: 0
	margin: 0 
	opacity: 0
	overflow: hidden
	transform: scale(1, 0)
	transform-origin: center top
	transition: all 0.3s ease

input[type=checkbox]:checked ~ .accordionChild
		background-color: rgba($background-color, 0.7)
		box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16)
		padding: 30px
		height: auto
		opacity: 1
		transform: scale(1, 1)

