// components/post/post.module.sass

@import config.sass

.container
	margin-bottom: 5.0rem
	margin-top: 5.0rem 

.content
	font-size: 2.0rem
	width: 95%
	@media only screen and (min-width: $breakpoint-1)
		min-width: 480px
		width: 80%
	@media only screen and (min-width: $breakpoint-3)
		max-width: 800px
		width: 45%

.image
	max-height: 800px
	max-width: 800px
	object-fit: contain
	overflow: hidden
	@media only screen and (min-width: $breakpoint-1)
		min-width: 480px
		width: 80%
	@media only screen and (min-width: $breakpoint-3)
		width: 45%

.title
	font-size: 3.0rem
	margin: 5rem auto
