// components/heading/heading.module.sass

@import config.sass

.center
	text-align: center

.heading
	font-family: $font-heading, Palatino, serif
	color: #1b5919
	letter-spacing: 4px
	line-height: 8rem
	font-size: 6.0rem
	margin: 7rem auto

.left
	text-align: left

.right
	text-align: right
