// components/agenda/agenda.module.sass

@import config.sass

.button
	border: 2px solid $color-link
	border-radius: 10px
	font-size: 2rem
	margin: auto

.list
	min-width: 50px
	padding: 0px
	width: 100%
