@import config.sass

.button
	margin: 10px auto
	background-color: rgba(255, 214, 138, 0.6)
	border-radius: 10px
	color: $color
	cursor: pointer
	border-style: none
	display: block
	font-family: inherit
	font-size: 2rem
	height: 4rem
	width: 80%
	&:hover
		background-color: rgba(255, 214, 138, 0.8)

.form
	margin: 20px auto
